{% extends './common.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


{% block content %}
<div>
    <div class="px-5 pt-5 text-dark">
        <h5>Pumps Consumption:</h5>
    </div>

    <div class="row">
        <div class="col justify-content-center">
            <div class="px-5 pt-5 text-dark text-center">
                <nav aria-label="...">
                    <ul class="pagination text-center">
                        <li class="page-item">
                            <a class="page-link" href="{% url 'LightConsumption' %}" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="{% url 'PumpConsumption' %}">1</a></li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="LightConsumption">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="{% url 'PumpConsumption' %}">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="{% url 'LightConsumption' %}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% if graph %}

    {{ graph|safe }}

    {% endif %}
</div>



{% endblock %}






</body>
</html>