{% extends './common.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


{% block content %}
<div class="form-bg">
    <div class="container">
        <div class="row justify-content-center pt-3 pb-5">
            <div class="col-sm-12 col-md-4 col-lg-8">
                <div class="form-container">
                  
                  <h3 class="text-success">Meter reading data has been captured successfully...</h3>
                  <a href="{% url 'index' %}" class="btn btn-primary btn-lg active text-center" role="button" aria-pressed="true">Return to main menu</a>
                  
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}






</body>
</html>
